.data-integrations-review-step {
  margin-block-start: var(--pf-v6-global--spacer--lg);

  .pf-v6-c-description-list {
    margin-block-start: var(--pf-v6-global--spacer--lg);
  }

  .pf-v6-c-description-list__group {
    padding-block-end: var(--pf-v6-global--spacer--md);
    border-block-end: var(--pf-v6-global--BorderWidth--sm) solid
      var(--pf-v6-global--BorderColor--100);
  }
}
